
/* Fonte e cores gerais */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: #1a1919;
    color: #ffffff;
    padding: 10px;
  height: 30%;
  background: linear-gradient #000000, #6a0dad, #1e90ff);
}

/* Header */
header {
    display: flex;
   flex-direction: column;
   align-items: center;
    text-align: center;
    margin: 0 auto 20px;  
    padding: 20px;
   background: linear-gradient(to right, #6a0dad, #1e90ff);
  border-radius: 20px;      /* opcional: deixa arredondado */
  max-width: 800px; 
   

}

header h1 {
    font-size: 3.5rem;
    color:#ffffff;
    
}

header h2 {
    font-size: 3.0rem;
    color: white;
    margin-top: 10px;
}

/* Títulos das seções */
body {
  font-family: Arial, sans-serif;
   background: linear-gradient #000000, #6a0dad, #1e90ff);
  margin: 0;
  padding: 20px;
}

main {
margin: 0 auto; 
  max-width: 800px;
  margin: 0 auto;         /* centraliza o conteúdo */
  text-align: center;     /* centraliza o texto */
  background: #040404;
}

/* títulos principais */
.titulos {
  font-size: 22px;
  margin: 30px 0 15px;   /* espaço em cima e embaixo */
  color: #2c3e50;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 5px;
  color: #ffffff;
}

/* subtítulos */
h5 {
  font-size: 18px;
  margin: 20px 0 10px;   /* espaço entre blocos */
  color: #34495e;
   color: #ffffff;
}

/* parágrafos */
p {
  margin: 10px 0 20px;
  line-height: 1.6;      /* aumenta espaço entre linhas */
}

/* listas */
ul {
  list-style-position: inside; /* alinha as bolinhas ao centro */
  padding: 0;
  margin: 10px 0 20px;
  line-height: 1.6;           /* aumenta espaço entre itens */
}


/* Footer */
footer { display: block;
    margin: 0 auto;
     max-width: 800px; 
  background: linear-gradient(to right, #6a0dad, #1e90ff);   /* cor de fundo leve */
  padding: 20px;
  margin-top: 30px;
  text-align: center;          /* centraliza tudo dentro do footer */ 
  border-radius: 20px;
  justify-content: center;
}

footer .contato h2 {
  margin-bottom: 15px;
  color: white;
}

footer ul {
  list-style: none;  /* remove as bolinhas da lista */
  padding: 0;
  margin: 0;
  color: white;
}

footer ul li {
  margin: 8px 0;     /* espaço entre as linhas */
color: white;}

contato a {
  color: white;
  text-decoration: none;
  background-color: #25D366; /* verde WhatsApp */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.contato a:hover {
  opacity: 0.8;